*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 0 auto;
    width: 70%;
    height: 380px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    
}

.carta > img{
    width: 60%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 20%;
}
/**********************Formulario***********************************/

.formulario  {
    margin: 0 auto;
    width: 80%;
    height: 380px;
    border-radius: 1vw;
    border: 3px solid black;
    background-color: #7BA238;
    padding: 10px 5px;
}

h1{
    font-size: 25px;
    margin-bottom: 3%;
    color: white;
    text-align: center;
}
h2{
    font-size: 22px;
    margin-bottom: 3%;
    color: white;
    text-align: left;
}
.formulario > input,label,input,label,button,select {
    display: block;
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    text-align: center; 
    position: relative;
    top: 10%;
    left: 10%;
}

.formulario .btn{
    border:1px solid #E5A015;
    color: white;
    background-color: #E5A015;
    padding: 3px;
    border-bottom: 1px solid #000;
}
/**********************Recibo***********************************/
.recibo {  
    width:80%;
    height: 40%;
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 10%;
    font-size: 20px;
}

h3{
    color: #7BA238;
    font-size: 25px;
    margin-top: 0%;
}
/***************************************************************/
#colourborder{
    border-color: #000;
    border: 5px solid #000;
}
.colour{
    color:antiquewhite;
    background-color: antiquewhite;
    border-radius: 50%;
    border: 2px solid black;
}

.negro{
    background-color: #000;
    color:  #000;
    border-radius: 50%;
    border: 2px solid white;
}
.gris{
    background-color: #4e4649;
    color:  #4e4649;
    border-radius: 50%;
    border: 2px solid white;
}
.blanco{
    background-color: white;
    color: white;
    border-radius: 50%;
    border: 2px solid black;
}
